@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./animates.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-background-50: var(--background-50);
    --color-background-100: var(--background-100);
    --color-background-200: var(--background-200);
    --color-background-300: var(--background-300);
    --color-background-400: var(--background-400);
    --color-background-500: var(--background-500);
    --color-background-600: var(--background-600);
    --color-background-700: var(--background-700);
    --color-background-800: var(--background-800);
    --color-background-900: var(--background-900);
    --color-background-950: var(--background-950);

    --color-foreground: var(--foreground);
    --color-foreground-50: var(--foreground-50);
    --color-foreground-100: var(--foreground-100);
    --color-foreground-200: var(--foreground-200);
    --color-foreground-300: var(--foreground-300);
    --color-foreground-400: var(--foreground-400);
    --color-foreground-500: var(--foreground-500);
    --color-foreground-600: var(--foreground-600);
    --color-foreground-700: var(--foreground-700);
    --color-foreground-800: var(--foreground-800);
    --color-foreground-900: var(--foreground-900);
    --color-foreground-950: var(--foreground-950);

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-heading: var(--font-sans);
    --font-weight-heading: 700;

    --text-h1: 2.5rem;
    --text-h1-line-height: 1.2;
    --text-h2: 2rem;
    --text-h2-line-height: 1.2;
    --text-h3: 1.75rem;
    --text-h3-line-height: 1.3;
    --text-h4: 1.5rem;
    --text-h4-line-height: 1.4;
    --text-h5: 1.25rem;
    --text-h5-line-height: 1.5;
    --text-h6: 1rem;
    --text-h6-line-height: 1.5;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-foreground-50: var(--sidebar-foreground-50);
    --color-sidebar-foreground-100: var(--sidebar-foreground-100);
    --color-sidebar-foreground-200: var(--sidebar-foreground-200);
    --color-sidebar-foreground-300: var(--sidebar-foreground-300);
    --color-sidebar-foreground-400: var(--sidebar-foreground-400);
    --color-sidebar-foreground-500: var(--sidebar-foreground-500);
    --color-sidebar-foreground-600: var(--sidebar-foreground-600);
    --color-sidebar-foreground-700: var(--sidebar-foreground-700);
    --color-sidebar-foreground-800: var(--sidebar-foreground-800);
    --color-sidebar-foreground-900: var(--sidebar-foreground-900);
    --color-sidebar-foreground-950: var(--sidebar-foreground-950);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent-foreground-50: var(--accent-foreground-50);
    --color-accent-foreground-100: var(--accent-foreground-100);
    --color-accent-foreground-200: var(--accent-foreground-200);
    --color-accent-foreground-300: var(--accent-foreground-300);
    --color-accent-foreground-400: var(--accent-foreground-400);
    --color-accent-foreground-500: var(--accent-foreground-500);
    --color-accent-foreground-600: var(--accent-foreground-600);
    --color-accent-foreground-700: var(--accent-foreground-700);
    --color-accent-foreground-800: var(--accent-foreground-800);
    --color-accent-foreground-900: var(--accent-foreground-900);
    --color-accent-foreground-950: var(--accent-foreground-950);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted-foreground-50: var(--muted-foreground-50);
    --color-muted-foreground-100: var(--muted-foreground-100);
    --color-muted-foreground-200: var(--muted-foreground-200);
    --color-muted-foreground-300: var(--muted-foreground-300);
    --color-muted-foreground-400: var(--muted-foreground-400);
    --color-muted-foreground-500: var(--muted-foreground-500);
    --color-muted-foreground-600: var(--muted-foreground-600);
    --color-muted-foreground-700: var(--muted-foreground-700);
    --color-muted-foreground-800: var(--muted-foreground-800);
    --color-muted-foreground-900: var(--muted-foreground-900);
    --color-muted-foreground-950: var(--muted-foreground-950);
    --color-muted: var(--muted);

    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary-foreground-50: var(--secondary-foreground-50);
    --color-secondary-foreground-100: var(--secondary-foreground-100);
    --color-secondary-foreground-200: var(--secondary-foreground-200);
    --color-secondary-foreground-300: var(--secondary-foreground-300);
    --color-secondary-foreground-400: var(--secondary-foreground-400);
    --color-secondary-foreground-500: var(--secondary-foreground-500);
    --color-secondary-foreground-600: var(--secondary-foreground-600);
    --color-secondary-foreground-700: var(--secondary-foreground-700);
    --color-secondary-foreground-800: var(--secondary-foreground-800);
    --color-secondary-foreground-900: var(--secondary-foreground-900);
    --color-secondary-foreground-950: var(--secondary-foreground-950);
    --color-secondary: var(--secondary);
    --color-secondary-50: var(--secondary-50);
    --color-secondary-100: var(--secondary-100);
    --color-secondary-200: var(--secondary-200);
    --color-secondary-300: var(--secondary-300);
    --color-secondary-400: var(--secondary-400);
    --color-secondary-500: var(--secondary-500);
    --color-secondary-600: var(--secondary-600);
    --color-secondary-700: var(--secondary-700);
    --color-secondary-800: var(--secondary-800);
    --color-secondary-900: var(--secondary-900);
    --color-secondary-950: var(--secondary-950);

    --color-primary-foreground: var(--primary-foreground);
    --color-primary-foreground-50: var(--primary-foreground-50);
    --color-primary-foreground-100: var(--primary-foreground-100);
    --color-primary-foreground-200: var(--primary-foreground-200);
    --color-primary-foreground-300: var(--primary-foreground-300);
    --color-primary-foreground-400: var(--primary-foreground-400);
    --color-primary-foreground-500: var(--primary-foreground-500);
    --color-primary-foreground-600: var(--primary-foreground-600);
    --color-primary-foreground-700: var(--primary-foreground-700);
    --color-primary-foreground-800: var(--primary-foreground-800);
    --color-primary-foreground-900: var(--primary-foreground-900);
    --color-primary-foreground-950: var(--primary-foreground-950);
    --color-primary: var(--primary);
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);

    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-card-50: var(--card-50);
    --color-card-100: var(--card-100);
    --color-card-200: var(--card-200);
    --color-card-300: var(--card-300);
    --color-card-400: var(--card-400);
    --color-card-500: var(--card-500);
    --color-card-600: var(--card-600);
    --color-card-700: var(--card-700);
    --color-card-800: var(--card-800);
    --color-card-900: var(--card-900);
    --color-card-950: var(--card-950);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
    --color-heatmap-zero: var(--heatmap-zero);
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --radius: 0.625rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive-foreground-50: var(--destructive-foreground-50);
    --color-destructive-foreground-100: var(--destructive-foreground-100);
    --color-destructive-foreground-200: var(--destructive-foreground-200);
    --color-destructive-foreground-300: var(--destructive-foreground-300);
    --color-destructive-foreground-400: var(--destructive-foreground-400);
    --color-destructive-foreground-500: var(--destructive-foreground-500);
    --color-destructive-foreground-600: var(--destructive-foreground-600);
    --color-destructive-foreground-700: var(--destructive-foreground-700);
    --color-destructive-foreground-800: var(--destructive-foreground-800);
    --color-destructive-foreground-900: var(--destructive-foreground-900);
    --color-destructive-foreground-950: var(--destructive-foreground-950);
}

/** Tint — Debut */

:root {
    --background: oklch(0.9745 0.0079 253.8524);
    --background-50: oklch(0.997 0.005 253.85);
    --background-100: oklch(0.994 0.006 253.85);
    --background-200: oklch(0.99 0.006 253.85);
    --background-300: oklch(0.986 0.007 253.85);
    --background-400: oklch(0.982 0.008 253.85);
    --background-500: var(--background);
    --background-600: oklch(0.78 0.008 253.85);
    --background-700: oklch(0.643 0.007 253.85);
    --background-800: oklch(0.507 0.006 253.85);
    --background-900: oklch(0.37 0.006 253.85);
    --background-950: oklch(0.234 0.005 253.85);

    --foreground: oklch(0.1443 0.0191 261.1564);
    --foreground-50: oklch(0.914 0.011 261.16);
    --foreground-100: oklch(0.786 0.014 261.16);
    --foreground-200: oklch(0.658 0.016 261.16);
    --foreground-300: oklch(0.529 0.017 261.16);
    --foreground-400: oklch(0.401 0.018 261.16);
    --foreground-500: var(--foreground);
    --foreground-600: oklch(0.115 0.018 261.16);
    --foreground-700: oklch(0.095 0.017 261.16);
    --foreground-800: oklch(0.075 0.016 261.16);
    --foreground-900: oklch(0.055 0.014 261.16);
    --foreground-950: oklch(0.035 0.011 261.16);

    --card: oklch(0.9897 0.0051 247.8755);
    --card-50: oklch(0.999 0.003 247.88);
    --card-100: oklch(0.997 0.004 247.88);
    --card-200: oklch(0.996 0.004 247.88);
    --card-300: oklch(0.994 0.005 247.88);
    --card-400: oklch(0.993 0.005 247.88);
    --card-500: var(--card);
    --card-600: oklch(0.792 0.005 247.88);
    --card-700: oklch(0.653 0.005 247.88);
    --card-800: oklch(0.515 0.004 247.88);
    --card-900: oklch(0.376 0.004 247.88);
    --card-950: oklch(0.238 0.003 247.88);
    --card-foreground: oklch(0.1443 0.0191 261.1564);
    --popover: oklch(0.9897 0.0051 247.8755);
    --popover-foreground: oklch(0.1443 0.0191 261.1564);

    --primary: oklch(0.5312 0.1626 257.48);
    --primary-50: oklch(0.953 0.098 257.48);
    --primary-100: oklch(0.883 0.117 257.48);
    --primary-200: oklch(0.812 0.133 257.48);
    --primary-300: oklch(0.742 0.146 257.48);
    --primary-400: oklch(0.672 0.154 257.48);
    --primary-500: var(--primary);
    --primary-600: oklch(0.425 0.154 257.48);
    --primary-700: oklch(0.351 0.146 257.48);
    --primary-800: oklch(0.276 0.133 257.48);
    --primary-900: oklch(0.202 0.117 257.48);
    --primary-950: oklch(0.127 0.098 257.48);

    --primary-foreground: oklch(0.9851 0 0);
    --primary-foreground-50: oklch(0.999 0 0);
    --primary-foreground-100: oklch(0.996 0 0);
    --primary-foreground-200: oklch(0.994 0 0);
    --primary-foreground-300: oklch(0.992 0 0);
    --primary-foreground-400: oklch(0.99 0 0);
    --primary-foreground-500: var(--primary-foreground);
    --primary-foreground-600: oklch(0.788 0 0);
    --primary-foreground-700: oklch(0.65 0 0);
    --primary-foreground-800: oklch(0.512 0 0);
    --primary-foreground-900: oklch(0.374 0 0);
    --primary-foreground-950: oklch(0.236 0 0);

    --secondary: oklch(0.6424 0.1906 36.33);
    --secondary-50: oklch(0.964 0.114 36.33);
    --secondary-100: oklch(0.911 0.137 36.33);
    --secondary-200: oklch(0.857 0.156 36.33);
    --secondary-300: oklch(0.803 0.172 36.33);
    --secondary-400: oklch(0.75 0.181 36.33);
    --secondary-500: var(--secondary);
    --secondary-600: oklch(0.514 0.181 36.33);
    --secondary-700: oklch(0.424 0.172 36.33);
    --secondary-800: oklch(0.334 0.156 36.33);
    --secondary-900: oklch(0.244 0.137 36.33);
    --secondary-950: oklch(0.154 0.114 36.33);

    --secondary-foreground: oklch(0.1443 0.0191 261.1564);
    --secondary-foreground-50: oklch(0.914 0.011 261.16);
    --secondary-foreground-100: oklch(0.786 0.014 261.16);
    --secondary-foreground-200: oklch(0.658 0.016 261.16);
    --secondary-foreground-300: oklch(0.529 0.017 261.16);
    --secondary-foreground-400: oklch(0.401 0.018 261.16);
    --secondary-foreground-500: var(--secondary-foreground);
    --secondary-foreground-600: oklch(0.115 0.018 261.16);
    --secondary-foreground-700: oklch(0.095 0.017 261.16);
    --secondary-foreground-800: oklch(0.075 0.016 261.16);
    --secondary-foreground-900: oklch(0.055 0.014 261.16);
    --secondary-foreground-950: oklch(0.035 0.011 261.16);

    --muted: oklch(0.9442 0.0137 258.3455);
    --muted-50: oklch(0.994 0.008 258.35);
    --muted-100: oklch(0.986 0.01 258.35);
    --muted-200: oklch(0.978 0.011 258.35);
    --muted-300: oklch(0.969 0.012 258.35);
    --muted-400: oklch(0.961 0.013 258.35);
    --muted-500: var(--muted);
    --muted-600: oklch(0.755 0.013 258.35);
    --muted-700: oklch(0.623 0.012 258.35);
    --muted-800: oklch(0.491 0.011 258.35);
    --muted-900: oklch(0.359 0.01 258.35);
    --muted-950: oklch(0.227 0.008 258.35);

    --muted-foreground: oklch(0.5195 0.0188 262.6912);
    --muted-foreground-50: oklch(0.952 0.011 262.69);
    --muted-foreground-100: oklch(0.88 0.014 262.69);
    --muted-foreground-200: oklch(0.808 0.015 262.69);
    --muted-foreground-300: oklch(0.736 0.017 262.69);
    --muted-foreground-400: oklch(0.664 0.018 262.69);
    --muted-foreground-500: var(--muted-foreground);
    --muted-foreground-600: oklch(0.416 0.018 262.69);
    --muted-foreground-700: oklch(0.343 0.017 262.69);
    --muted-foreground-800: oklch(0.27 0.015 262.69);
    --muted-foreground-900: oklch(0.197 0.014 262.69);
    --muted-foreground-950: oklch(0.125 0.011 262.69);

    --accent: oklch(0.9442 0.0137 258.3455);
    --accent-50: oklch(0.994 0.008 258.35);
    --accent-100: oklch(0.986 0.01 258.35);
    --accent-200: oklch(0.978 0.011 258.35);
    --accent-300: oklch(0.969 0.012 258.35);
    --accent-400: oklch(0.961 0.013 258.35);
    --accent-500: var(--accent);
    --accent-600: oklch(0.755 0.013 258.35);
    --accent-700: oklch(0.623 0.012 258.35);
    --accent-800: oklch(0.491 0.011 258.35);
    --accent-900: oklch(0.359 0.01 258.35);
    --accent-950: oklch(0.227 0.008 258.35);

    --accent-foreground: oklch(0.2038 0.0264 260.9332);
    --accent-foreground-50: oklch(0.92 0.016 260.93);
    --accent-foreground-100: oklch(0.801 0.019 260.93);
    --accent-foreground-200: oklch(0.682 0.022 260.93);
    --accent-foreground-300: oklch(0.562 0.024 260.93);
    --accent-foreground-400: oklch(0.443 0.025 260.93);
    --accent-foreground-500: var(--accent-foreground);
    --accent-foreground-600: oklch(0.163 0.025 260.93);
    --accent-foreground-700: oklch(0.135 0.024 260.93);
    --accent-foreground-800: oklch(0.106 0.022 260.93);
    --accent-foreground-900: oklch(0.077 0.019 260.93);
    --accent-foreground-950: oklch(0.049 0.016 260.93);

    --destructive: oklch(0.5770 0.2450 27.3250);
    --destructive-50: oklch(0.958 0.147 27.33);
    --destructive-100: oklch(0.894 0.176 27.33);
    --destructive-200: oklch(0.831 0.201 27.33);
    --destructive-300: oklch(0.767 0.221 27.33);
    --destructive-400: oklch(0.704 0.233 27.33);
    --destructive-500: var(--destructive);
    --destructive-600: oklch(0.462 0.233 27.33);
    --destructive-700: oklch(0.381 0.221 27.33);
    --destructive-800: oklch(0.3 0.201 27.33);
    --destructive-900: oklch(0.219 0.176 27.33);
    --destructive-950: oklch(0.138 0.147 27.33);

    --destructive-foreground: oklch(1 0 0);
    --destructive-foreground-50: oklch(1 0 0);
    --destructive-foreground-100: oklch(1 0 0);
    --destructive-foreground-200: oklch(1 0 0);
    --destructive-foreground-300: oklch(1 0 0);
    --destructive-foreground-400: oklch(1 0 0);
    --destructive-foreground-500: var(--destructive-foreground);
    --destructive-foreground-600: oklch(0.8 0 0);
    --destructive-foreground-700: oklch(0.66 0 0);
    --destructive-foreground-800: oklch(0.52 0 0);
    --destructive-foreground-900: oklch(0.38 0 0);
    --destructive-foreground-950: oklch(0.24 0 0);
    --border: oklch(0.9013 0.0156 257.2001);
    --input: oklch(0.9013 0.0156 257.2001);
    --ring: oklch(0.6503 0.0220 257.4949);
    --chart-1: oklch(0.8100 0.1000 252);
    --chart-2: oklch(0.6200 0.1900 260);
    --chart-3: oklch(0.5500 0.2200 263);
    --chart-4: oklch(0.4900 0.2200 264);
    --chart-5: oklch(0.4200 0.1800 266);

    --sidebar: oklch(0.9601 0.0103 261.7889);
    --sidebar-50: oklch(0.996 0.006 261.79);
    --sidebar-100: oklch(0.99 0.007 261.79);
    --sidebar-200: oklch(0.984 0.008 261.79);
    --sidebar-300: oklch(0.978 0.009 261.79);
    --sidebar-400: oklch(0.972 0.01 261.79);
    --sidebar-500: var(--sidebar);
    --sidebar-600: oklch(0.768 0.01 261.79);
    --sidebar-700: oklch(0.634 0.009 261.79);
    --sidebar-800: oklch(0.499 0.008 261.79);
    --sidebar-900: oklch(0.365 0.007 261.79);
    --sidebar-950: oklch(0.23 0.006 261.79);

    --sidebar-foreground: oklch(0.1443 0.0191 261.1564);
    --sidebar-foreground-50: oklch(0.914 0.011 261.16);
    --sidebar-foreground-100: oklch(0.786 0.014 261.16);
    --sidebar-foreground-200: oklch(0.658 0.016 261.16);
    --sidebar-foreground-300: oklch(0.529 0.017 261.16);
    --sidebar-foreground-400: oklch(0.401 0.018 261.16);
    --sidebar-foreground-500: var(--sidebar-foreground);
    --sidebar-foreground-600: oklch(0.115 0.018 261.16);
    --sidebar-foreground-700: oklch(0.095 0.017 261.16);
    --sidebar-foreground-800: oklch(0.075 0.016 261.16);
    --sidebar-foreground-900: oklch(0.055 0.014 261.16);
    --sidebar-foreground-950: oklch(0.035 0.011 261.16);
    --sidebar-primary: oklch(0.2038 0.0264 260.9332);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.9442 0.0137 258.3455);
    --sidebar-accent-foreground: oklch(0.2038 0.0264 260.9332);
    --sidebar-border: oklch(0.9013 0.0156 257.2001);
    --sidebar-ring: oklch(0.6503 0.0220 257.4949);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
}

.dark {

    --background: oklch(0.2292 0.0304 259.0329);
    --background-50: oklch(0.923 0.018 259.03);
    --background-100: oklch(0.807 0.022 259.03);
    --background-200: oklch(0.692 0.025 259.03);
    --background-300: oklch(0.576 0.027 259.03);
    --background-400: oklch(0.46 0.029 259.03);
    --background-500: var(--background);
    --background-600: oklch(0.183 0.029 259.03);
    --background-700: oklch(0.151 0.027 259.03);
    --background-800: oklch(0.119 0.025 259.03);
    --background-900: oklch(0.087 0.022 259.03);
    --background-950: oklch(0.055 0.018 259.03);

    --foreground: oklch(0.9392 0.0101 238.5151);
    --foreground-50: oklch(0.994 0.006 238.52);
    --foreground-100: oklch(0.985 0.007 238.52);
    --foreground-200: oklch(0.976 0.008 238.52);
    --foreground-300: oklch(0.967 0.009 238.52);
    --foreground-400: oklch(0.957 0.01 238.52);
    --foreground-500: var(--foreground);
    --foreground-600: oklch(0.751 0.01 238.52);
    --foreground-700: oklch(0.62 0.009 238.52);
    --foreground-800: oklch(0.488 0.008 238.52);
    --foreground-900: oklch(0.357 0.007 238.52);
    --foreground-950: oklch(0.225 0.006 238.52);

    --card: oklch(0.2610 0.0307 254.7604);
    --card-50: oklch(0.926 0.018 254.76);
    --card-100: oklch(0.815 0.022 254.76);
    --card-200: oklch(0.704 0.025 254.76);
    --card-300: oklch(0.594 0.028 254.76);
    --card-400: oklch(0.483 0.029 254.76);
    --card-500: var(--card);
    --card-600: oklch(0.209 0.029 254.76);
    --card-700: oklch(0.172 0.028 254.76);
    --card-800: oklch(0.136 0.025 254.76);
    --card-900: oklch(0.099 0.022 254.76);
    --card-950: oklch(0.063 0.018 254.76);
    --card-foreground: oklch(0.9392 0.0101 238.5151);
    --popover: oklch(0.2897 0.0338 255.7937);
    --popover-foreground: oklch(0.9392 0.0101 238.5151);

    --primary: oklch(0.5312 0.1626 257.48);
    --primary-50: oklch(0.953 0.098 257.48);
    --primary-100: oklch(0.883 0.117 257.48);
    --primary-200: oklch(0.812 0.133 257.48);
    --primary-300: oklch(0.742 0.146 257.48);
    --primary-400: oklch(0.672 0.154 257.48);
    --primary-500: var(--primary);
    --primary-600: oklch(0.425 0.154 257.48);
    --primary-700: oklch(0.351 0.146 257.48);
    --primary-800: oklch(0.276 0.133 257.48);
    --primary-900: oklch(0.202 0.117 257.48);
    --primary-950: oklch(0.127 0.098 257.48);

    --primary-foreground: oklch(0.9851 0 0);
    --primary-foreground-50: oklch(0.999 0 0);
    --primary-foreground-100: oklch(0.996 0 0);
    --primary-foreground-200: oklch(0.994 0 0);
    --primary-foreground-300: oklch(0.992 0 0);
    --primary-foreground-400: oklch(0.99 0 0);
    --primary-foreground-500: var(--primary-foreground);
    --primary-foreground-600: oklch(0.788 0 0);
    --primary-foreground-700: oklch(0.65 0 0);
    --primary-foreground-800: oklch(0.512 0 0);
    --primary-foreground-900: oklch(0.374 0 0);
    --primary-foreground-950: oklch(0.236 0 0);

    --secondary: oklch(0.6424 0.1906 36.33);
    --secondary-50: oklch(0.964 0.114 36.33);
    --secondary-100: oklch(0.911 0.137 36.33);
    --secondary-200: oklch(0.857 0.156 36.33);
    --secondary-300: oklch(0.803 0.172 36.33);
    --secondary-400: oklch(0.75 0.181 36.33);
    --secondary-500: var(--secondary);
    --secondary-600: oklch(0.514 0.181 36.33);
    --secondary-700: oklch(0.424 0.172 36.33);
    --secondary-800: oklch(0.334 0.156 36.33);
    --secondary-900: oklch(0.244 0.137 36.33);
    --secondary-950: oklch(0.154 0.114 36.33);

    --secondary-foreground: oklch(0.1443 0.0191 261.1564);
    --secondary-foreground-50: oklch(0.914 0.011 261.16);
    --secondary-foreground-100: oklch(0.786 0.014 261.16);
    --secondary-foreground-200: oklch(0.658 0.016 261.16);
    --secondary-foreground-300: oklch(0.529 0.017 261.16);
    --secondary-foreground-400: oklch(0.401 0.018 261.16);
    --secondary-foreground-500: var(--secondary-foreground);
    --secondary-foreground-600: oklch(0.115 0.018 261.16);
    --secondary-foreground-700: oklch(0.095 0.017 261.16);
    --secondary-foreground-800: oklch(0.075 0.016 261.16);
    --secondary-foreground-900: oklch(0.055 0.014 261.16);
    --secondary-foreground-950: oklch(0.035 0.011 261.16);

    --sidebar: oklch(0.2452 0.0305 256.8649);
    --sidebar-50: oklch(0.925 0.018 256.86);
    --sidebar-100: oklch(0.811 0.022 256.86);
    --sidebar-200: oklch(0.698 0.025 256.86);
    --sidebar-300: oklch(0.585 0.027 256.86);
    --sidebar-400: oklch(0.472 0.029 256.86);
    --sidebar-500: var(--sidebar);
    --sidebar-600: oklch(0.196 0.029 256.86);
    --sidebar-700: oklch(0.162 0.027 256.86);
    --sidebar-800: oklch(0.128 0.025 256.86);
    --sidebar-900: oklch(0.093 0.022 256.86);
    --sidebar-950: oklch(0.059 0.018 256.86);
    --muted-foreground: oklch(0.6604 0.0245 248.1982);
    --muted-foreground-50: oklch(0.966 0.015 248.2);
    --muted-foreground-100: oklch(0.915 0.018 248.2);
    --muted-foreground-200: oklch(0.864 0.02 248.2);
    --muted-foreground-300: oklch(0.813 0.022 248.2);
    --muted-foreground-400: oklch(0.762 0.023 248.2);
    --muted-foreground-500: var(--muted-foreground);
    --muted-foreground-600: oklch(0.528 0.023 248.2);
    --muted-foreground-700: oklch(0.436 0.022 248.2);
    --muted-foreground-800: oklch(0.343 0.02 248.2);
    --muted-foreground-900: oklch(0.251 0.018 248.2);
    --muted-foreground-950: oklch(0.158 0.015 248.2);

    --muted: oklch(0.2947 0.0308 258.3315);
    --muted-50: oklch(0.929 0.018 258.33);
    --muted-100: oklch(0.824 0.022 258.33);
    --muted-200: oklch(0.718 0.025 258.33);
    --muted-300: oklch(0.612 0.028 258.33);
    --muted-400: oklch(0.506 0.029 258.33);
    --muted-500: var(--muted);
    --muted-600: oklch(0.236 0.029 258.33);
    --muted-700: oklch(0.195 0.028 258.33);
    --muted-800: oklch(0.153 0.025 258.33);
    --muted-900: oklch(0.112 0.022 258.33);
    --muted-950: oklch(0.071 0.018 258.33);

    --accent: oklch(0.3438 0.0389 254.6348);
    --accent-50: oklch(0.934 0.023 254.63);
    --accent-100: oklch(0.836 0.028 254.63);
    --accent-200: oklch(0.738 0.032 254.63);
    --accent-300: oklch(0.639 0.035 254.63);
    --accent-400: oklch(0.541 0.037 254.63);
    --accent-500: var(--accent);
    --accent-600: oklch(0.275 0.037 254.63);
    --accent-700: oklch(0.227 0.035 254.63);
    --accent-800: oklch(0.179 0.032 254.63);
    --accent-900: oklch(0.131 0.028 254.63);
    --accent-950: oklch(0.083 0.023 254.63);
    --accent-foreground: oklch(0.9392 0.0101 238.5151);
    --accent-foreground-50: oklch(0.994 0.006 238.52);
    --accent-foreground-100: oklch(0.985 0.007 238.52);
    --accent-foreground-200: oklch(0.976 0.008 238.52);
    --accent-foreground-300: oklch(0.967 0.009 238.52);
    --accent-foreground-400: oklch(0.957 0.01 238.52);
    --accent-foreground-500: var(--accent-foreground);
    --accent-foreground-600: oklch(0.751 0.01 238.52);
    --accent-foreground-700: oklch(0.62 0.009 238.52);
    --accent-foreground-800: oklch(0.488 0.008 238.52);
    --accent-foreground-900: oklch(0.357 0.007 238.52);
    --accent-foreground-950: oklch(0.225 0.006 238.52);

    --border: oklch(0.3299 0.0322 257.6775);
    --input: oklch(0.3205 0.0336 253.9373);

    --ring: oklch(0.5805 0.0297 251.8232);

    --destructive: oklch(0.7040 0.1910 22.2160);
    --destructive-50: oklch(0.97 0.115 22.22);
    --destructive-100: oklch(0.926 0.138 22.22);
    --destructive-200: oklch(0.882 0.157 22.22);
    --destructive-300: oklch(0.837 0.172 22.22);
    --destructive-400: oklch(0.793 0.181 22.22);
    --destructive-500: var(--destructive);
    --destructive-600: oklch(0.563 0.181 22.22);
    --destructive-700: oklch(0.465 0.172 22.22);
    --destructive-800: oklch(0.366 0.157 22.22);
    --destructive-900: oklch(0.268 0.138 22.22);
    --destructive-950: oklch(0.169 0.115 22.22);
    --destructive-foreground: oklch(0.9850 0 0);
    --destructive-foreground-50: oklch(0.999 0 0);
    --destructive-foreground-100: oklch(0.996 0 0);
    --destructive-foreground-200: oklch(0.994 0 0);
    --destructive-foreground-300: oklch(0.992 0 0);
    --destructive-foreground-400: oklch(0.99 0 0);
    --destructive-foreground-500: var(--destructive-foreground);
    --destructive-foreground-600: oklch(0.788 0 0);
    --destructive-foreground-700: oklch(0.65 0 0);
    --destructive-foreground-800: oklch(0.512 0 0);
    --destructive-foreground-900: oklch(0.374 0 0);
    --destructive-foreground-950: oklch(0.236 0 0);

    --sidebar-primary: oklch(0.4887 0.2427 263.9688);
    --sidebar-primary-foreground: oklch(0.9851 0 0);

    --sidebar-accent: oklch(0.3056 0.0334 255.7755);
    --sidebar-accent-foreground: oklch(0.9392 0.0101 238.5151);

    --sidebar-border: oklch(0.3053 0.0296 254.6806);

    --chart-1: oklch(0.8100 0.1000 252);
    --chart-2: oklch(0.6200 0.1900 260);
    --chart-3: oklch(0.5500 0.2200 263);
    --chart-4: oklch(0.4900 0.2200 264);
    --chart-5: oklch(0.4200 0.1800 266);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --sidebar-foreground: oklch(0.9392 0.0101 238.5151);
    --sidebar-foreground-50: oklch(0.994 0.006 238.52);
    --sidebar-foreground-100: oklch(0.985 0.007 238.52);
    --sidebar-foreground-200: oklch(0.976 0.008 238.52);
    --sidebar-foreground-300: oklch(0.967 0.009 238.52);
    --sidebar-foreground-400: oklch(0.957 0.01 238.52);
    --sidebar-foreground-500: var(--sidebar-foreground);
    --sidebar-foreground-600: oklch(0.751 0.01 238.52);
    --sidebar-foreground-700: oklch(0.62 0.009 238.52);
    --sidebar-foreground-800: oklch(0.488 0.008 238.52);
    --sidebar-foreground-900: oklch(0.357 0.007 238.52);
    --sidebar-foreground-950: oklch(0.225 0.006 238.52);
    --sidebar-ring: oklch(0.5805 0.0297 251.8232);
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
}

/** Tint — Fin */

[data-slot="input-group-control"]:-webkit-autofill,
[data-slot="input-group-control"]:-webkit-autofill:hover,
[data-slot="input-group-control"]:-webkit-autofill:focus,
[data-slot="input-group-control"]:autofill,
[data-slot="input-group-control"]:autofill:hover,
[data-slot="input-group-control"]:autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: inherit !important;
  caret-color: inherit;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    }

    html {
        @apply font-sans;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-heading font-bold;
    }

    h1 {
        @apply text-h1;
    }

    h2 {
        @apply text-h2;
    }

    h3 {
        @apply text-h3;
    }

    h4 {
        @apply text-h4;
    }

    h5 {
        @apply text-h5;
    }

    h6 {
        @apply text-h6;
    }
}